# MacOS
.DS_Store

# Environment
.env
.vscode

# Python
**/__pycache__

# Datasets
/data/

# Checkpoints, samples
/checkpoints/
/samples/debug

# Neptune AI
.neptune

# CGo
tokenizer/libgotok.h
tokenizer/libgotok.so
