# MacOS
.DS_Store

# Environment
.env
.vscode
go.mod
go.sum

# Python
**/__pycache__

# S3 Cache
/.cache/

# Checkpoints, samples
/out/

# Neptune AI
.neptune

# CGo
tokenizer/libgotok.h
tokenizer/libgotok.so

# DLL
*.dll
