# MacOS
.DS_Store

# Environment
.env
.vscode

# Python
**/__pycache__

# S3 Cache
/.cache/

# Checkpoints, samples
/checkpoints/
/samples/debug

# Neptune AI
.neptune

# CGo
tokenizer/libgotok.h
tokenizer/libgotok.so

# DLL
*.dll
